@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-serif: "Playfair Display", serif;
  --font-hero: "Abril Fatface", serif;
  --font-sans: "Inter", sans-serif;
  --color-gold: #D4AF37;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
